body{
    background-color:#fae3d9; /*#EAF6F6*/
    }
hr{
    background-color: none;
    border-style: none;
    width: 5%;
    border-style: dotted;
    border-top-style: none;
    border-color:#bbded6;
    border-width: 6px;
}

img{
    height: 20%;
    width: 200px;
}
h1, h3{
    color:#61c0bf; /*#66BFBF*/
}

