body{
    margin:0;
    background-color:#f0e3ff;
    }

img{
    height:200px;
    width:200px
}
hr{
    background-color: none;
    border-style: none;
    width: 5%;
    border-style: dotted;
    border-top-style: none;
    border-color:#916dd5;
    border-width: 6px;
}

h1{
    margin-top:0px;
    color:#916dd5;
}
h2{
    color:#916dd5;
}
h3{
    color:#d89cf6; 
}
p{
    color:#3e206d;
}

.banner-container{
    background-color:#d89cf6;
}
.middle-container{
    
}
.bottom-container{

}
.nav-logo{
    height:100px;
    width:100px;
}

button{
    background-color:#916dd5;
    color:#3e206d;
}
footer{
    background-color:#d89cf6;
}